{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Iniciar Sesión{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'img/logo.proyect.jpg' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% endblock %}
</head>
<header>
    
</header>
<body>

{% block content %}
<header class="encabezado-login">
    <div class="navegacion">
        <li><a href="{% url 'home' %}" class="nav-link"><i class="fa fa-home"></i></a></li> 
    </div>

    <div class="navbar">
        <div class="navbar-center">
            <span>Novasen - Plataforma de Gestión</span>
        </div>
        <div class="logo-proyecto">
            <img src="{% static 'img/logo.proyect.jpg' %}" alt="Logo Proyecto">
        </div>
    </div>

    <div class="contenedor-login">
        <div class="formulario-login">
            <h2>Bienvenido de nuevo</h2>
            <p>Inicia sesión con tu cuenta</p>

            <label for="tipo_doc">Tipo de documento:</label>
            <select id="tipo_doc" name="tipo_doc">
                <option>Tarjeta de Identidad</option>
                <option>Cédula de Ciudadanía</option>
                <option>Cédula de Extranjero</option>
            </select>

            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" placeholder="Ingresa tu nombre">

            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Ingresa tu contraseña">

            <button>Iniciar sesión</button>

            <p class="centrar -link">
                ¿No tienes una cuenta?
                <a href="{% url 'insetar_usuario' %}">Regístrate aquí</a>
            </p>
        </div>
    </div>
</header>
{% endblock %}
</body>
</html>
