{% extends 'base.html' %}

{% load static %}

{% block title %}
    Lista de candado
{% endblock %}

<head>
</head>

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>CODIGO ROL</th>
            <th>NOMBRE ROL</th>
            <th>Descripcion</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rol %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.codigo }}</td>
            <td>{{ r.nombre }}</td>
            <td>{{ r.descripcion }}</td>
            <td><a href="{% url 'eliminar_rol' r.id %}">Eliminar</a></td>
            <td><a href="{% url 'actualizar_rol' r.id %}">Actualizar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
