{% extends 'index.html'%}

{% load static %}

{% block title %}
    Lista ciudad
{% endblock %}

<head>

</head>

{% block content %}

<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Ciudad</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
            
            
        </tr>
    </thead>
    <tbody>
        {% for c in ciudad %}
        <tr>
            <td>{{ c.codigo }}</td>
            <td>{{ c.ciudad }}</td>
            <td><a href="{% url 'eliminar_ciu' c.id %}">Eliminar</a></td>
            <td><a href="{% url 'actualizar_ciu' c.id %}">Actualizar</a></td>
           
        {% endfor%}
    </tbody>
</table>
{% endblock %}