{% extends 'index.html' %}

{% load static %}

{% block title %}
 programas Blog
{% endblock %}

<head>

</head>

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  
    <label for="codigo">Codigo:</label>
    <input type="text" id="codigo" name="codigo" required>

    <label for="horas">Horas:</label>
    <input type="text" id="horas" name="horas" required>

    <label for="version"> version:</label>
    <input type="text" id="ver" name="version" required>
    <div>
      <label for="ficha_id">Ficha:</label>
      <select name="ficha_id" id="ficha_id" required>
          {% for ficha in fichas%}
              <option value="{{ ficha.id }}">{{ ficha.nombre }}</option>
          {% endfor %}
      </select>
    </div>

    
    <button type="submit">Enviar</button>
</form>
{% endblock %}
